<a href="https://colab.research.google.com/github/afshari-maryam/Python-Assignment1/blob/main/Python_Assignmemt1_solution.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Python-Assignmemt1

This assignmet is about Python Data Types

Python Basics: Data types

#1.
 Use the constructor methods to create different data types in python (integer,float,string,list,tuple,dictionary,set etc.). Also use object literals to create those data types.**

In [ ]:
#Integer 
#constructor method
x = int(10)
x

10

In [ ]:
#Integer 
#object litteral
x=10
x

10

In [ ]:
#Float
#constructor method
y = float(5.67)
y

5.67

In [ ]:
#Float
#object litteral
y = 5.67
y

5.67

In [ ]:
#String
#constructor method
s = str("hello Integrify")
s

'hello Integrify'

In [ ]:
#String
#object litteral
s = "hello Integrify"
s

'hello Integrify'

In [ ]:
#List
#constructor method
L = list([10,9,8])
L

[10, 9, 8]

In [ ]:
#List
#object litteral
L = [10,9,8]
L

[10, 9, 8]

In [ ]:
#Tuple
#constructor method
T = tuple((1, 2, 3,4,5,6))
T

(1, 2, 3, 4, 5, 6)

In [ ]:
#Tuple
#object litteral
T = (1, 2, 3,4,5,6)
T

(1, 2, 3, 4, 5, 6)

In [ ]:
#Dictionary
#constructor method
D = dict({"name": "Maryam","Id_number":123456, "age": 24})
D

{'name': 'Maryam', 'Id_number': 123456, 'age': 24}

In [ ]:
#Dictionary
#object litteral
D = {"name": "Maryam","Id_number":123456, "age": 24}
D

{'name': 'Maryam', 'Id_number': 123456, 'age': 24}

In [ ]:
#Set
#constructor method
z = set([10,9,8])
z

{8, 9, 10}

In [ ]:
#Set
#object litteral
z =  {10,9,8}
z

{8, 9, 10}

#2. 
Operators in python https://www.w3schools.com/python/python_operators.asp
Create two operands and play around using different operators

In [27]:
# Addition operator
x = 7
y = 12
result = x + y
print(result)

19

In [28]:
# Addition operator
x = 7
y = 13
result = x + y
print(result)

20

In [29]:

# Multiplication operator
x = 4
y = 5
result = x * y
print(result)

20

In [30]:

# Division operator
x = 10
y = 2
result = x / y
print(result)

5.0

In [31]:

# Division operator
x = 10
y = 0
result = x / y
print(result)

ZeroDivisionError: ignored

In [32]:
# Modulus operator
x = 19
y = 3
result = x % y
print(result)

1

In [33]:
# Exponentiation operator
x = 2
y = 3
result = x ** y
print(result)

8

In [34]:
# Floor Division operator
x = 18
y = 5
result = x // y
print(result)

3