<a href="https://colab.research.google.com/github/afshari-maryam/Python-Assignment1/blob/main/Python_Assignmemt1_solution.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Python-Assignmemt1

This assignmet is about Python Data Types

Python Basics: Data types

#1.
 Use the constructor methods to create different data types in python (integer,float,string,list,tuple,dictionary,set etc.). Also use object literals to create those data types.**

In [ ]:
#Integer 
#constructor method
x = int(10)
x

10

In [ ]:
#Integer 
#object litteral
x=10
x

10

In [ ]:
#Float
#constructor method
y = float(5.67)
y

5.67

In [ ]:
#Float
#object litteral
y = 5.67
y

5.67

In [ ]:
#String
#constructor method
s = str("hello Integrify")
s

'hello Integrify'

In [ ]:
#String
#object litteral
s = "hello Integrify"
s

'hello Integrify'

In [25]:
#List
#constructor method
L = list([10,9,8])
L

[10, 9, 8]

In [26]:
#List
#object litteral
L = [10,9,8]
L

[10, 9, 8]

In [15]:
#Tuple
#constructor method
T = tuple((1, 2, 3,4,5,6))
T

(1, 2, 3, 4, 5, 6)

In [16]:
#Tuple
#object litteral
T = (1, 2, 3,4,5,6)
T

(1, 2, 3, 4, 5, 6)

In [19]:
#Dictionary
#constructor method
D = dict({"name": "Maryam","Id_number":123456, "age": 24})
D

{'name': 'Maryam', 'Id_number': 123456, 'age': 24}

In [22]:
#Dictionary
#object litteral
D = {"name": "Maryam","Id_number":123456, "age": 24}
D

{'name': 'Maryam', 'Id_number': 123456, 'age': 24}

In [21]:
#Set
#constructor method
z = set([10,9,8])
z

{8, 9, 10}

In [24]:
#Set
#object litteral
z =  {10,9,8}
z

{8, 9, 10}